// шрифты
@font-face {
   font-family: 'living_by_numbersregular';
   src: url('./../fonts/living-by-numbers.woff2') format('woff2'),
      url('./../fonts/living-by-numbers.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// глобальные стили
@import './global.scss';



.header {
   position: relative;
   padding-top: 60px;
   padding-right: 10px;
   padding-left: 10px;
   height: 1233px;
   font-size: 50px;
   line-height: 51px;
   // @include adaptiv-value('height',1080,590,0);

   @include breakpoint(2560px) {
      // height: 1500px;
      height: 1400px;

   }

   // @include breakpoint(2350px) {
   //    height: 1400px;
   // }

   // @include breakpoint(2150px) {
   //    height: 1300px;
   // }

   @include breakpoint(1920px) {
      height: 1200px;
   }

   @include breakpoint(1440px) {
      height: 1000px;
      padding-top: 40px;
   }

   @include breakpoint(1024px) {
      height: 900px;
      padding-top: 40px;
   }

   @include breakpoint(768px) {
      height: 700px;
      padding-top: 20px;
   }

   @include breakpoint(425px) {
      height: 590px;
   }



   // .header__bg

   &__bg {
      position: absolute;
      max-width: none;
   }



   &__bg1 {
      @include adaptiv-value('width', 1350, 350, 0);
      @include adaptiv-value('height', 498, 100, 0);
      bottom: 0;
      left: 0;
      z-index: 10;


      @media screen and (min-width:1921px) {
         @include adaptiv-value('width', 1370, 350, 0);
      }
   }

   &__bg2 {
      @include adaptiv-value('width', 1160, 270, 0);
      @include adaptiv-value('height', 972, 220, 0);
      bottom: 36px;
      right: 0;
      z-index: 9;

      @media screen and (min-width:1921px) {
         bottom: 50px;
      }

      @include breakpoint(768px) {
         right: -50px;
         bottom: 20px;
      }

   }

   &__bg3 {
      @include adaptiv-value('width', 1920, 665, 0);
      @include adaptiv-value('height', 529, 150, 0);
      @include adaptiv-value('bottom', 205, 40, 0);
      left: 0;
      z-index: 8;

      @media screen and (min-width:1921px) {
         width: 100%;
      }

      @include breakpoint(768px) {
         left: -350px;
         @include adaptiv-value('bottom', 250, 70, 0);
      }

      @include breakpoint(425px) {
         left: -300px;
      }

   }

   &__bg4 {
      @include adaptiv-value('width', 1920, 700, 0);
      @include adaptiv-value('height', 416, 150, 0);
      @include adaptiv-value('bottom', 330, 80, 0);
      z-index: 7;

      @media screen and (min-width:1921px) {
         width: 100%;
      }

      @include breakpoint(768px) {
         left: -270px;
      }

      @include breakpoint(425px) {
         left: -300px;
      }
   }

   &__bg5 {
      @include adaptiv-value('width', 1920, 360, 0);
      @include adaptiv-value('height', 764, 200, 0);
      bottom: 139px;
      left: 0;
      z-index: 6;
      animation: header-an 3s linear infinite;

      @media screen and (min-width:1921px) {
         width: 100%;
         bottom: 170px;

      }

      @include breakpoint(768px) {
         bottom: 110px;
      }
   }

   &__bg6 {
      @include adaptiv-value('width', 1920, 630, 0);
      @include adaptiv-value('height', 707, 220, 0);
      @include adaptiv-value('bottom', 300, 150, 0);
      left: 0;
      z-index: 5;

      @media screen and (min-width:1921px) {
         width: 100%;
      }

      @include breakpoint(425px) {
         display: none;
      }
   }

   // .header__mountains-mobile1

   &__mountains-mobile {
      display: none;
      position: absolute;
      z-index: 5;
      @include adaptiv-value('bottom', 300, 120, 0);
      left: -130px;
      max-width: 150%;

      @include breakpoint(425px) {
         display: block;
      }
   }



   &__bg7 {
      @include adaptiv-value('width', 1920, 500, 0);
      height: 100%;
      top: -200px;
      left: 0;
      z-index: 4;
      animation: header-an 5s linear infinite;

      @media screen and (min-width:1921px) {
         width: 100%;
         top: -300px;
      }

   }

   @keyframes header-an {
      60% {
         opacity: 0;
      }

      100% {
         opacity: 1;
      }
   }

   &__bg8 {
      @include adaptiv-value('width', 1920, 870, 0);
      @include adaptiv-value('height', 563, 200, 0);
      top: 0;
      left: 0;
      z-index: 3;

      @media screen and (min-width:1921px) {
         width: 100%;
      }

   }

   &__bg9 {
      @include adaptiv-value('width', 1920, 443, 0);
      height: 100%;
      top: -200px;
      left: 0;
      z-index: 2;

      @media screen and (min-width:1921px) {
         width: 100%;
         top: -300px;

      }

   }

   // .header__nav

   &__nav {
      position: relative;
      z-index: 11;
      justify-content: center;

      @include breakpoint(1440px) {
      }

      @include breakpoint(1024px) {}

      @include breakpoint(768px) {
         justify-content: space-between;
      }

      @include breakpoint(425px) {
      }

      ul {
         @include breakpoint(768px) {
            display: none;
            flex-wrap: wrap;

         }

         li {
            margin-right: 70px;
            transition: 0.2s;


            &:hover {
               transform: scale(105%);
            }

            &:last-child {
               margin-right: 0px;
            }

            @include breakpoint(768px) {
               flex: 0 1 100%;
               margin-right: 0px;
               margin-bottom: 10px;

               &:last-child {
                  margin-bottom: 0px;
               }
            }

            a {
               color: inherit;
            }

            img {
               margin-right: 20px;

               &:last-child {
                  margin-right: 0px;
               }

               @include breakpoint(1024px) {
                  width: 60px;
               }

               @include breakpoint(768px) {
                  width: 40px;
               }
            }
         }

      }
   }

   // .header__nav-item

   &__nav-item {
      display: none;

      @include breakpoint(768px) {
         display: block;
      }
   }

   // .header__nav-item-left

   &__nav-item-left {}

   // .header__nav-item-right

   &__nav-item-right {}

   // .header__text-right

   &__text-right {
      width: 100%;


      @include breakpoint(1440px){
         padding-top: 50px;
      }

      @include breakpoint(425px){
         display: block;
         padding-top: 20px;
      }
  

      img {
         @include adaptiv-value('width', 275, 105, 0);
         @include adaptiv-value('height', 70, 50, 0);

      
      }
   }
}

.intro {

   // .intro__bg

   &__bg {
      position: absolute;

      @include breakpoint(768px) {
         display: none;
      }

   }

   // .intro__bg-details

   &__bg-details {
      z-index: 6;
      width: 95%;
      left: 34px;
      top: 1170px;

      @include breakpoint(1440px){
      top: 960px;
      }

      @include breakpoint(1024px){
      top: 880px;
      }

   }

   // .intro__bg-tunnel-shadow

   &__bg-tunnel-shadow {
      z-index: 5;
      width: 81%;
      left: 0;

      @include adaptiv-value('top',1165,1130,0);

      @include breakpoint(1440px){
         @include adaptiv-value('top',950,980,0);
      }

      @include breakpoint(1024px){
         @include adaptiv-value('top',888,870,0);
      }
   }

   // .intro__bg-tunnel-obj

   &__bg-tunnel-obj {
      z-index: 4;
      width: 100%;
      left: 0px;

      @include breakpoint(2560px){
         @include adaptiv-value2560-1920('top',665,840,0);
      }


      @include breakpoint(1920px){
         @include adaptiv-value('top',650,1050,0);
      }

      @include breakpoint(1440px){

         @include adaptiv-value('top',430,900,0);
      }

      @include breakpoint(1024px){
         @include adaptiv-value('top',380,780,0);
      }
   }

   // .intro__bg-stones-shadow

   &__bg-stones-shadow {
      z-index: 3;
      width: 100%;
      left: 0px;
      
      @include adaptiv-value('top',1004,1114,0);


      @include breakpoint(1440px){
         @include adaptiv-value('top',788,960,0);
      }

      @include breakpoint(1024px){
         @include adaptiv-value('top',740,838,0);
      }

   }

   // .intro__bg-tunnel

   &__bg-tunnel {
      z-index: 2;
      width: 81%;
      left: 0;
      
      @include adaptiv-value('top',1165,1130,0);

      @include breakpoint(1440px){
         @include adaptiv-value('top',950,980,0);
      }

      @include breakpoint(1024px){
         @include adaptiv-value('top',888,870,0);
      }
   }

   // .intro__bg-stones

   &__bg-stones {
      z-index: 1;
      width: 100%;
      left: 0px;
      top: 1007px;

      @include adaptiv-value('top',1004,1114,0);

      @include breakpoint(1440px){
         @include adaptiv-value('top',788,960,0);
      }

      @include breakpoint(1024px){
         @include adaptiv-value('top',740,838,0);
      }
   }

   // .intro__wrapper

   &__wrapper {
      position: relative;
      // z-index: 7;
   }

   .container {
      position: relative;
      z-index: 8;
   }

   // .intro__row

   &__row {
      transform: translateY(-30px);
      grid-template-columns: repeat(2, 1fr);

      @include breakpoint(768px) {
         display: block;
         margin-bottom: 100px;
      }

      @include breakpoint(425px) {
         margin-bottom: 70px;
      }
   }

   // .intro__column

   &__column {
   
      text-align: justify;
      max-width: 500px;
      font-size: 40px;
      line-height: 41px;

      @include breakpoint(1440px){
         font-size: 35px;
         line-height: 36px;
      }

      @include breakpoint(1024px){
         font-size: 25px;
         line-height: 26px;
         max-width: 400px;
      }
   
      @include breakpoint(768px) {
         font-family: 'Kirang Haerang', sans-serif;
         font-weight: normal;
         font-size: 30px;
         line-height: 40px;
         text-align: center;
         padding: 0px !important;
         margin-top: 100px;
         max-width: none;
      }



      &:nth-child(1) {
         grid-column: 2/3;
         grid-row: 1/2;
         @include adaptiv-value('margin-bottom',300,0,0);

         @include breakpoint(1024px){
            @include adaptiv-value('margin-bottom',300,40,0);
         }
      }

      &:nth-child(2) {
         grid-column: 1/3;
         grid-row: 2/3;
         margin-left: 50px;
         @include adaptiv-value('margin-bottom',170,-70,0);
         
         @include breakpoint(1024px){
            margin-left: 0px;
            @include adaptiv-value('margin-bottom',80,20,0);
         }
      }

      &:nth-child(3) {
         grid-column: 1/3;
         grid-row: 3/4;
         @include adaptiv-value('margin-bottom',270,-250,0);

         @include breakpoint(1440px){
            @include adaptiv-value('margin-bottom',280,-100,0);
         }

         @include breakpoint(1024px){
            @include adaptiv-value('margin-bottom',600,-180,0);
         }

      }

      &:nth-child(4) {
         grid-column: 2/3;
         grid-row: 4/5;
         padding-left: 100px;
         @include adaptiv-value('margin-bottom',50,-250,0);

         @include breakpoint(1800px){
         @include adaptiv-value('margin-bottom',50,-150,0);
         }

         @include breakpoint(1600px){
         @include adaptiv-value('margin-bottom',50,-50,0);
         }

         @include breakpoint(1300px){
         @include adaptiv-value('margin-bottom',100,-130,0);
         }

         @include breakpoint(1024px){
         @include adaptiv-value('margin-bottom',130,-75,0);
         }
         
      }

      h2 {
         text-transform: uppercase;
      }
   }

   .lamp {
      position: absolute;
      z-index: 7;

      @include breakpoint(768px) {
         display: none;
      }
   }

   .lamp1 {
      left: 5%;
      @include adaptiv-value('width', 27, 10, 0);
      @include adaptiv-value('height', 105, 40, 0);
      @include adaptiv-value('top',0,-45,0);
      
      @include breakpoint(1440px){
         @include adaptiv-value('top',-13,-10,0);
      }
      
      @include breakpoint(1024px){
         @include adaptiv-value('top',30,-24,0);
      }


      img {
         position: absolute;
         left: 0;

         &:first-child {
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 2;
         }

         &:last-child {
            z-index: 1;
            bottom: 17px;
            transform: scale(700%);
            animation: blick1 5s infinite ease-in-out;

            @include breakpoint(1100px) {
               transform: scale(700%) translate(3110px, 0px);
            }

            @include breakpoint(768px) {
               transform: scale(700%) translate(0px, 1px);
            }

            @include breakpoint(425px) {
               transform: scale(700%) translate(0px, 1.5px);
            }
         }
      }
   }

   @keyframes blick1 {

      0%,
      30% {
         opacity: 0.1;
      }

      30%,
      50% {
         opacity: 1;
      }

      50%,
      80% {
         opacity: 1;
      }

      100% {
         opacity: 0.1;
      }
   }

   .lamp2 {
      @include adaptiv-value('width', 142, 60, 0);
      @include adaptiv-value('height', 102, 40, 0);
      @include adaptiv-value('top',43,-70,0);
      @include adaptiv-value('left',320,70,0);

      @include breakpoint(1600px) {
         display: none;
      }




      img {
         position: absolute;
         left: 0;
         top: 0;

         &:first-child {}

         &:last-child {
            transform: translate(-15px, -20px);
            animation: blick2 8s infinite ease-in-out;

            @include breakpoint(1800px) {
               transform: translate(-12px, -16px);
            }

            @include breakpoint(1700px) {
               transform: translate(-8px, -14px);
            }


         }


      }
   }

   @keyframes blick2 {

      0%,
      10% {
         opacity: 0.1;
      }

      10%,
      40% {
         opacity: 1;
      }

      40%,
      70% {
         opacity: 1;
      }

      70%,
      100% {
         opacity: 0.1;
      }
   }

   .lamp3 {
      left: 33%;
      @include adaptiv-value('width', 36, 14, 0);
      @include adaptiv-value('height', 133, 57, 0);
      @include adaptiv-value('top',12,-45,0);
      
      @include breakpoint(1440px){
         @include adaptiv-value('top',-1,-10,0);
      }
      
      @include breakpoint(1024px){
         @include adaptiv-value('top',43,-24,0);
      }

      img {
         position: absolute;
         left: 0;

         &:first-child {
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
         }

         &:last-child {
            z-index: 1;
            bottom: 17px;
            transform: scale(700%) translateX(-1.3px);
            animation: blick3 8s infinite ease-in-out;

            @include breakpoint(1024px) {
               transform: scale(700%) translateX(-0.6px);
            }

            @include breakpoint(768px) {
               transform: scale(700%) translate(-0.6px, 1px);
            }

            @include breakpoint(425px) {
               transform: scale(700%) translate(-0.4px, 1.2px);
            }
         }


      }
   }

   @keyframes blick3 {

      0%,
      30% {
         opacity: 0.1;
      }

      30%,
      50% {
         opacity: 1;
      }

      50%,
      80% {
         opacity: 1;
      }

      100% {
         opacity: 0.1;
      }
   }

   .lamp4 {
      right: 35%;
      @include adaptiv-value('width', 36, 14, 0);
      @include adaptiv-value('height', 133, 57, 0);
      @include adaptiv-value('top', 670, 65, 0);

      @include breakpoint(1440px){
         @include adaptiv-value('top', 650, 110, 0);
      }

      @include breakpoint(1024px){
         @include adaptiv-value('top', 690,93, 0);
      }

      img {
         position: absolute;
         left: 0;

         &:first-child {
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
         }

         &:last-child {
            z-index: 1;
            bottom: 17px;
            transform: scale(700%) translateX(-1.3px);
            animation: blick4 5s infinite ease-in-out;

            @include breakpoint(1024px) {
               transform: scale(700%) translateX(-0.6px);
            }

            @include breakpoint(768px) {
               transform: scale(700%) translate(-0.6px, 1px);
            }

            @include breakpoint(425px) {
               transform: scale(700%) translate(-0.4px, 1.2px);
            }
         }


      }
   }

   @keyframes blick4 {

      0%,
      10% {
         opacity: 0.1;
      }

      10%,
      30% {
         opacity: 1;
      }

      30%,
      80% {
         opacity: 1;
      }

      80%,
      100% {
         opacity: 0.1;
      }
   }

   .lamp-type2 {
      position: absolute;
      display: none;
      z-index: 1;

      @include breakpoint(768px) {
         display: block;
      }
   }

   .lamp-type2-1 {
      top: -100px;
      left: 0;

      img {
         &:first-child {
            position: relative;
            z-index: 2;
         }

         &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transform: translateY(10px);
            animation: blick1 5s infinite ease-in-out;
         }
      }
   }

   .lamp-type2-2 {
      top: 150px;
      right: 0;

      img {
         &:first-child {
            position: relative;
            z-index: 2;
         }

         &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transform: translate(10px, 10px);
            animation: blick3 8s infinite ease-in-out;
         }
      }
   }

   .lamp-type2-3 {
      top: 600px;
      left: 0;

      @include breakpoint(415px){
         top: 650px;
      }

      img {
         &:first-child {
            position: relative;
            z-index: 2;
         }

         &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transform: translateY(10px);
            animation: blick2 8s infinite ease-in-out;
         }
      }
   }

   .stone {
      position: absolute;
      z-index: 1;
      display: none;

      @include breakpoint(768px) {
         display: block;
      }
   }

   .stone1 {
      top: 0;
      left: 0;
   }

   .stone2 {
      top: 0;
      right: 0;
   }

   .stone3 {
      top: 200px;
      left: 0;
   }

   .stone4 {
      top: 250px;
      right: 0;
   }


   .stone5 {
      top: 280px;
      left: 0;
   }

   .stone6 {
      top: 280px;
      right: 0;
   }

   .stone7 {
      top: 380px;
      right: 0;
   }

   .stone8 {
      top: 400px;
      left: 0;
   }


   .stone9 {
      top: 450px;
      right: 0;
   }

   .stone10 {
      top: 500px;
      left: 0;
   }

   .stone11 {
      top: 600px;
      right: 0;
   }

   .stone12 {
      top: 650px;
      left: 0;
   }

   .stone13 {
      top: 700px;
      right: 0;
   }

   .stone14 {
      bottom: 0;
      left: 0;
   }

   .stone15 {
      bottom: 0;
      left: 0;
      transform: translateX(30%);
   }

   .stone16 {
      bottom: 0;
      right: 0;
   }


}

.footer {
   position: relative;
   z-index: 7;

   // .footer__row

   &__row {

      @include breakpoint(1600px) {
         transform: translateX(-30px);
      }

      @include breakpoint(1400px) {}

      @include breakpoint(1024px) {
         transform: translateX(-15px);

      }

      &:first-child {
         .footer__column {
      

            &:nth-child(1) {
               transform: translateX(20px);


               &:hover {
                  transform: translateX(20px) scale(115%);
               }

            }

            &:nth-child(2) {
               transform: translateX(-20px);

               &:hover {
                  transform: translateX(-20px) scale(115%);
               }
            }
         }
      }

      &:last-child {
         .footer__column {
            &:nth-child(1) {

      

               @include breakpoint(1920px){
                  transform: translateX(50px);
         }

         
         @include breakpoint(1800px) {
            transform: translateX(30px);
           }

               &:hover {
                  transform: translateX(50px) scale(115%);
               }



            }

            &:nth-child(2) {
               transform: translateX(-15px);

               &:hover {
                  transform: translateX(-15px) scale(115%);
               }

               @include breakpoint(1800px) {
                  transform: translateX(0px);

                  &:hover {
                     transform: scale(115%);
                  }
               }
            }

            &:nth-child(3) {
               transform: translateX(-50px);

               @include breakpoint(1800px) {
                  transform: translateX(-30px);      
                 }

               &:hover {
                  transform: translateX(-50px) scale(115%);
               }
            }
         }
      }
   }

   // .footer__column

   &__column {
      transition: 0.25s;
      flex: 0 0 211px;


      @include breakpoint(1800px) {
         flex: 0 0 155px;
      }

      @include breakpoint(1600px) {
         flex: 0 0 120px;
         transform: none !important;
      }

      @include breakpoint(1300px) {
         flex: 0 0 100px;
      }

      @include breakpoint(1024px) {
         flex: 0 0 70px;
      }



      @include breakpoint(768px) {
         flex: 0 0 150px;

      }

      @include breakpoint(425px) {
         flex: 0 0 120px;
      }
   }
}