<footer class="footer">
   <div class="container">
      <div class="footer__row d-f ai-c jc-c">
         <div class="footer__column">
            <a href="#"><img src="./../assets/images/TG.svg" alt="soc"></a>
         </div>
         <div class="footer__column">
            <a href="#"><img src="./../assets/images/Dis.svg" alt="soc"></a>
         </div>
      </div>
      <div class="footer__row d-f ai-c jc-c">
         <div class="footer__column">
            <a href="#"><img src="./../assets/images/TWTR.svg" alt="soc"></a>
         </div>
         <div class="footer__column">
            <a href="#"><img src="./../assets/images/Gitbook.svg" alt="soc"></a>
         </div>
         <div class="footer__column">
            <a href="#"><img src="./../assets/images/MEDIUM.svg" alt="soc"></a>
         </div>
      </div>
   </div>
</footer>