<header class="header">
   <img class="header__bg header__bg1" src="./../assets/images/landscape1.png" alt="landscape">
   <img class="header__bg header__bg2" src="./../assets/images/landscape2.png" alt="landscape">
   <img class="header__bg header__bg3" src="./../assets/images/landscape3.png" alt="landscape">
   <img class="header__bg header__bg4" src="./../assets/images/landscape4.png" alt="landscape">
   <img class="header__bg header__bg5" src="./../assets/images/MountainsGlow.png" alt="landscape">
   <img class="header__bg header__bg6" src="./../assets/images/Mountains.png" alt="landscape">
   <img class="header__bg header__bg7" src="./../assets/images/SkyGlow.png" alt="landscape">
   <img class="header__bg header__bg8" src="./../assets/images/Stars.png" alt="landscape">
   <img class="header__bg header__bg9" src="./../assets/images/Sky.png" alt="landscape">
   <nav>
      <ul class="d-f ai-c jc-c">
         <li data-aos="fade-down">
            <a href="#" class="d-f ai-c">
               <img src="./../assets/images/presale.svg" alt="presale">
               <span>Presale</span>
            </a>
         </li>
         <li data-aos="fade-down">
            <a href="#" class="d-f ai-c">
               <img src="./../assets/images/mint.svg" alt="mint">
               <span>Mint</span>
            </a>
         </li>
         <li data-aos="fade-down">
            <a href="#" class="d-f ai-c">
               <img src="./../assets/images/whitepaper.svg" alt="whitepaper">
               <span>Whitepaper</span>
            </a>
         </li>
      </ul>
      <ul class="soc ">
         <div class="soc__column d-f jc-e ai-c" data-aos="fade-down">
            <a href="#"><img src="./../assets/images/TG.svg" alt="telegram"></a>
         </div>
         <div class="soc__column  d-f jc-e ai-c" data-aos="fade-down">
            <a href="#"><img src="./../assets/images/Dis.svg" alt="telegram"></a>
         </div>
         <div class="soc__column  d-f jc-e ai-c" data-aos="fade-down">
            <a href="#"><img src="./../assets/images/TWTR.svg" alt="telegram"></a>
         </div>
         <div class="soc__column  d-f jc-e ai-c" data-aos="fade-down">
            <a href="#"><img src="./../assets/images/Gitbook.svg" alt="telegram"></a>
         </div>
         <div class="soc__column  d-f jc-e ai-c" data-aos="fade-down">
            <a href="#"><img src="./../assets/images/MEDIUM.svg" alt="telegram"></a>
         </div>
      </ul>
   </nav>
   <div class="header__text-right d-f" data-aos="fade-in">
      <img src="./../assets/images/EntsWorld.svg" alt="">
   </div>
</header>