<header class="header">
   <nav>
      <ul class="d-f ai-c jc-c">
         <li>
            <a href="#" class="d-f ai-c">
               <img src="./../assets/images/presale.svg" alt="presale">
               <span>Presale</span>
            </a>
         </li>
         <li>
            <a href="#" class="d-f ai-c">
               <img src="./../assets/images/mint.svg" alt="mint">
               <span>Mint</span>
            </a>
         </li>
         <li>
            <a href="#" class="d-f ai-c">
               <img src="./../assets/images/whitepaper.svg" alt="whitepaper">
               <span>Whitepaper</span>
            </a>
         </li>
      </ul>
   </nav>
   <div class="header__text-right d-f ">Ents World</div>
</header>